<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        class Sprite {
            constructor(image_key, scale) {
                this.image_key = image_key
                this.scale = scale
            }
        }
        class Bullet {
            constructor(sprite, speed) {
                this.sprite = sprite
                this.speed = speed
            }
        }
        class Entity {
            constructor(x, y, r, dx, dy) {
                this.x = x
                this.y = y
                this.r = r
                this.dx = dx
                this.dy = dy
                this.ttl = null
            }
            place_at(x, y, r) {
                this.x = x
                this.y = y
                this.r = r
                this.dx = 0
                this.dy = 0
            }
            speed() {
                return Math.sqrt(this.dx * this.dx + this.dy * this.dy)
            }
            set_speed(desired_speed) {
                var current_speed = this.speed()
                if (current_speed < 0.1) {
                    r = Math.random() * 2 * 3.1415
                    this.dx = desired_speed * Math.cos(r)
                    this.dy = desired_speed * Math.sin(r)
                    return
                }
                var coeff = desired_speed / current_speed
                this.dx *= coeff
                this.dy *= coeff
            }
        }
        class Ship extends Entity {
            constructor(slowdown_enabled, rotation_rate, image_key_coasting, image_key_accelerating, image_key_breaking, scale, bullet) {
                super(0, 0, 0, 0, 0)
                this.slowdown_enabled = slowdown_enabled
                this.rotation_rate = rotation_rate
                this.image_key_coasting = image_key_coasting
                this.image_key_accelerating = image_key_accelerating
                this.image_key_breaking = image_key_breaking
                this.bullet = bullet
                this.sprite = new Sprite(image_key_coasting, scale)
            }
            set_accelerating() {
                this.sprite.image_key = this.image_key_accelerating
            }
            set_coasting() {
                this.sprite.image_key = this.image_key_coasting
            }
            set_breaking() {
                if (this.image_key_breaking) this.sprite.image_key = this.image_key_breaking
                else this.sprite.image_key = this.image_key_coasting
            }
        }
        class AlienShip extends Entity {
            constructor(sprite) {
                super(0, 0, 0, 0, 0)
                this.sprite = sprite
                this.reset_time_to_shoot()
            }
            reset_time_to_shoot() {
                this.time_to_shoot = Math.round(Math.random() * 50) + 50
            }
            maybe_create_child() {
                if (this.time_to_shoot > 0) {
                    this.time_to_shoot -= 1
                    return
                }
                this.reset_time_to_shoot()
                aliens.push(new Alien(this, small_alien_sprite))
            }
        }
        class Alien extends Entity {
            constructor(parent, sprite){
                super(parent.x, parent.y, 0, ship.x - parent.x, ship.y - parent.y)
                this.sprite = sprite
                this.set_speed(3)
            }
        }
        function wrapped_distance(a, b, width) {
            d = Math.abs(a - b)
            if (d > width / 2) return width - d
            return d
        }

        viewport_width = 1000
        viewport_height = 800
        HOME = 0; RUNNING = 1; PAUSED = 2;
        game_state = HOME
        acceleration_timeout = 0
        slowdown_timeout = 0
        left_rotation_timeout = 0
        right_rotation_timeout = 0
        game_step_interval = 0
        max_lives = 2
        lives = max_lives
        score = 0
        rock_count = 5
        highest_score = 0

        bullet_laser = new Bullet(new Sprite('laser', 0.05), 20)
        bullet_saw = new Bullet(new Sprite('saw', 0.15), 10)
        bullet_lightning = new Bullet(new Sprite('lightning', 0.1), 10)

        background_sprite = new Sprite('background_space', 1.21)
        rock_sprite = new Sprite('rock', 0.05)
        small_alien_ship_sprite = new Sprite('small_alien_ship', 0.1)
        small_alien_sprite = new Sprite('small_alien', 0.05)
        ship_zeke = new Ship(0, 6, 'ship1', 'ship1_flame', 0, 0.15, bullet_saw)
        ship_zach = new Ship(1, 4, 'ship2', 'ship2_flame', 'ship2_break', 0.15, bullet_lightning)
        ship = ship_zeke

        background = new Entity(viewport_width / 2, viewport_height / 2, 0, 0, 0)

        function draw_sprite(sprite, entity, draw_mirror_entities = 1) {
            image = images[sprite.image_key]
            if (image === undefined) {
                console.log('Undefined image', image_key)
                return
            }
            context.save()
            context.scale(sprite.scale, sprite.scale)
            context.translate(entity.x / sprite.scale, entity.y / sprite.scale)
            context.rotate(entity.r * 3.1415 / 180)
            context.translate(-image.width / 2, -image.height / 2)
            context.drawImage(image, 0, 0);
            context.restore()

            if (draw_mirror_entities === 1) {
                edge_threshold = 15
                mirror_entity = new Entity(entity.x, entity.y, entity.r, 0, 0)
                if (entity.x < edge_threshold) {
                    mirror_entity.x += viewport_width
                    draw_sprite(sprite, mirror_entity, 0)
                    mirror_entity.x = entity.x
                }
                else if(entity.x >= viewport_width - edge_threshold) {
                    mirror_entity.x -= viewport_width
                    draw_sprite(sprite, mirror_entity, 0)
                    mirror_entity.x = entity.x
                }
                if (entity.y < edge_threshold) {
                    mirror_entity.y += viewport_height
                    draw_sprite(sprite, mirror_entity, 0)
                    mirror_entity.y = entity.y
                }
                else if(entity.y >= viewport_height - edge_threshold) {
                    mirror_entity.y -= viewport_height
                    draw_sprite(sprite, mirror_entity, 0)
                    mirror_entity.y = entity.y
                }
            }
        }
        function draw_score() {
            context.save()
            context.font = "20px Arial";
            context.fillStyle = "red";
            context.fillText(score, 3, 20);
            if (lives > 0) context.fillText('A'.repeat(lives), viewport_width - 30, 20);
            context.restore()
        }
        function clear_viewport() {
            draw_sprite(background_sprite, background)
        }
        function move(x, dx, max_x) {
            x += dx
            if (x < 0) return max_x - 1
            if (x >= max_x) return 0
            return x
        }
        function move_entity(entity) {
            entity.x = move(entity.x, entity.dx, viewport_width)
            entity.y = move(entity.y, entity.dy, viewport_height)
            if (entity.ttl !== null) {
                entity.ttl -= 1
            }
            return entity
        }
        function compute_wrapped_distance(entity1, entity2) {
            dx = wrapped_distance(entity1.x, entity2.x, viewport_width)
            dy = wrapped_distance(entity1.y, entity2.y, viewport_height)
            return Math.sqrt(dx * dx + dy * dy)
        }
        function collided(entity1, entity2) {
            return compute_wrapped_distance(entity1, entity2) <= 25
        }
        function game_step() {
            if (game_state != RUNNING) return
            // Move
            for (i = 0; i < rocks.length; i++) rocks[i] = move_entity(rocks[i])
            for (i = 0; i < alien_ships.length; i++) alien_ships[i] = move_entity(alien_ships[i])
            for (i = 0; i < aliens.length; i++) aliens[i] = move_entity(aliens[i])
            for (i = 0; i < bullets.length; i++) bullets[i] = move_entity(bullets[i])
            if (bullets.length > 0 && bullets[0].ttl <= 0) bullets.shift()
            move_entity(ship)

            // Handle collisions
            for (i = 0; i < rocks.length; i++) {
                if (collided(rocks[i], ship)) {
                    console.log('Ship collided with rock')
                    handle_death()
                    break
                }
                for (j = 0; j < bullets.length; j++) {
                    if (collided(rocks[i], bullets[j])) {
                        console.log('Bullet collided with rock')
                        score += 1 + 4 * Math.round(ship.speed())
                        rocks.splice(i, 1)
                        bullets.splice(j, 1)
                        i -= 1
                        break
                    }
                }
            }
            for (i = 0; i < alien_ships.length; i++) {
                if (collided(alien_ships[i], ship)) {
                    console.log('Ship collided with alien ship')
                    handle_death()
                    break
                }
                for (j = 0; j < bullets.length; j++) {
                    if (collided(alien_ships[i], bullets[j])) {
                        console.log('Bullet collided with alien ship')
                        score += 5 + 4 * Math.round(ship.speed())
                        alien_ships.splice(i, 1)
                        bullets.splice(j, 1)
                        i -= 1
                        break
                    }
                }
            }
            for (i = 0; i < aliens.length; i++) {
                if (collided(aliens[i], ship)) {
                    console.log('Ship collided with alien')
                    handle_death()
                    break
                }
                for (j = 0; j < bullets.length; j++) {
                    if (collided(aliens[i], bullets[j])) {
                        console.log('Bullet collided with alien')
                        score += 1 + 4 * Math.round(ship.speed())
                        aliens.splice(i, 1)
                        bullets.splice(j, 1)
                        i -= 1
                        break
                    }
                }
            }

            // Create new enemies
            if (rocks.length == 0) {    
                for (i = 0; i < rock_count; i++) create_rock()
                rock_count += 3
            }
            if (alien_ships.length == 0) {
                create_small_alien_ship()
            }
            for (i = 0; i < alien_ships.length; i++) alien_ships[i].maybe_create_child()


            // Draw
            clear_viewport()
            for (i = 0; i < rocks.length; i++) draw_sprite(rock_sprite, rocks[i])
            for (i = 0; i < alien_ships.length; i++) draw_sprite(alien_ships[i].sprite, alien_ships[i])
            for (i = 0; i < aliens.length; i++) draw_sprite(aliens[i].sprite, aliens[i])
            for (i = 0; i < bullets.length; i++) draw_sprite(ship.bullet.sprite, bullets[i])
            draw_sprite(ship.sprite, ship)
            draw_score()
        }
        function pause() {
            game_state = PAUSED
            clearTimeout(game_step_interval)
        }
        function unpause() {
            game_state = RUNNING
            game_step_interval = setInterval(game_step, 33)
        }
        function toggle_pause() {
            if (game_state == PAUSED) unpause()
            else pause()
        }
        function create_bullet() {
            dx = ship.bullet.speed * Math.cos(ship.r / 180 * 3.1415)
            dy = ship.bullet.speed * Math.sin(ship.r / 180 * 3.1415)
            x = ship.x + 25 * Math.cos(ship.r / 180 * 3.1415)
            y = ship.y + 25 * Math.sin(ship.r / 180 * 3.1415)
            time_to_live = (viewport_height - 25) / ship.bullet.speed
            new_bullet = new Entity(x, y, ship.r, dx, dy)
            new_bullet.ttl = time_to_live
            bullets.push(new_bullet)
        }
        function create_enemy_entity(speed) {
            position_ok = false
            while (!position_ok) {
                x = Math.random() * viewport_width
                y = Math.random() * viewport_width
                new_entity = new Entity(x, y, 0, 0, 0)
                if (compute_wrapped_distance(new_entity, ship) > 80) position_ok = true
            }
            r = Math.random() * 2 * 3.1415
            new_entity.dx = speed * Math.cos(r)
            new_entity.dy = speed * Math.sin(r)
            return new_entity
        }
        function create_rock() {
            new_rock = create_enemy_entity(2)
            rocks.push(new_rock)
        }
        function create_small_alien_ship() {
            new_alien = new AlienShip(small_alien_ship_sprite)
            entity = create_enemy_entity(2)
            new_alien.x = entity.x
            new_alien.y = entity.y
            new_alien.dx = entity.dx
            new_alien.dy = entity.dy
            alien_ships.push(new_alien)
        }
        function reset_game() {
            ship.place_at(viewport_width / 2, viewport_height / 2, -90)
            bullets = []
            last_bullet_time = Date.now()
            bullet_cooldown = 200
            rocks = []
            alien_ships = []
            aliens = []
            for (i = 0; i < rock_count; i++) create_rock()
            create_small_alien_ship()
        }
        function go_home() {
            clearTimeout(game_step_interval)
            game_state = HOME
            rock_count = 5

            clear_viewport()
            context.save()
            context.font = "30px Arial";
            context.fillStyle = "white";
            context.fillText("Zeke and Zach", 100, 100);
            context.fillText("Asteroid Game", 100, 130);
            context.font = "20px Arial";
            context.fillText("Press space to play", 100, 200);
            context.font = "30px Arial";
            if (score > 0) context.fillText("You scored " + score + " !", 100, 270);
            ship_zeke.place_at(150, 400, 0)
            ship_zach.place_at(150, 550, 0)
            draw_sprite(ship_zeke.sprite, ship_zeke)
            draw_sprite(ship_zach.sprite, ship_zach)
            context.font = "20px Arial";
            context.fillText("Zeke's ship", 250, 390);
            context.fillText("Zach's ship", 250, 540);
            context.fillText("Rotation Boost makes ship turn faster.", 250, 420);
            context.fillText("Gravity Breaks slow down ship.", 250, 570);
            context.lineWidth = "6";
            context.strokeStyle = "red";
            context.beginPath();
            if (ship === ship_zeke) {
                context.rect(100, 350, 530, 100)
            } else {
                context.rect(100, 500, 530, 100)

            }
            context.stroke()
            context.restore()

            if (score > highest_score) highest_score = score
            if (highest_score != 0) {
                $("#id_new_high_score").removeAttr("hidden")
                $("#id_high_score").html(highest_score)
                $("#id_score").attr("value", highest_score)
            }
        }
        function handle_death() {
            lives -= 1
            console.log('Lives', lives)
            if (lives < 0) {
                pause()
                setTimeout(go_home, 500)
                return
            }
            reset_game()
        }
        function acceleration(bootstrap = 0) {
            if (bootstrap == 1 && acceleration_timeout != 0) return
            ship.set_accelerating()
            old_dx = ship.dx
            old_dy = ship.dy
            ship.dx += 2 * Math.cos(ship.r / 180 * 3.1415)
            ship.dy += 2 * Math.sin(ship.r / 180 * 3.1415)
            max_speed = 10
            if (ship.speed() > max_speed) {
                ship.dx = old_dx
                ship.dy = old_dy
            } else {
                acceleration_timeout = setTimeout(acceleration, 200)
            }
        }
        function slowdown(bootstrap = 0) {
            if (bootstrap == 1 && slowdown_timeout != 0) return
            ship.set_breaking()
            ship.dx *= 0.6
            ship.dy *= 0.6
            if (ship.speed() < 0.5) {
                ship.dx = 0
                ship.dy = 0
            } else {
                slowdown_timeout = setTimeout(slowdown, 200)
            }
        }
        function left_rotation(bootstrap = 0) {
            if (bootstrap == 1 && left_rotation_timeout != 0) return
            ship.r -= ship.rotation_rate
            left_rotation_timeout = setTimeout(left_rotation, 25)
        }
        function right_rotation(bootstrap = 0) {
            if (bootstrap == 1 && right_rotation_timeout != 0) return
            ship.r += ship.rotation_rate
            right_rotation_timeout = setTimeout(right_rotation, 25)
        }
        $(function() {
            var canvas = document.getElementById('viewport')
            context = canvas.getContext('2d')

            image_sources = {}
            image_sources['arrow'] = "{% static 'asteroid/arrow.png' %}"
            image_sources['ship1'] = "{% static 'asteroid/ship1.gif' %}"
            image_sources['ship1_flame'] = "{% static 'asteroid/ship1_flame.gif' %}"
            image_sources['ship2'] = "{% static 'asteroid/ship2.gif' %}"
            image_sources['ship2_flame'] = "{% static 'asteroid/ship2_flame.gif' %}"
            image_sources['ship2_break'] = "{% static 'asteroid/ship2_break.gif' %}"
            image_sources['rock'] = "{% static 'asteroid/rock.png' %}"
            image_sources['saw'] = "{% static 'asteroid/saw.gif' %}"
            image_sources['lightning'] = "{% static 'asteroid/lightning.gif' %}"
            image_sources['background_space'] = "{% static 'asteroid/background_space.jpg' %}"
            image_sources['small_alien_ship'] = "{% static 'asteroid/small_alien_ship.gif' %}"
            image_sources['small_alien'] = "{% static 'asteroid/small_alien.gif' %}"

            images = {}
            for (key in image_sources) {
                images[key] = new Image()
                images[key].src = image_sources[key]
            }
            images['background_space'].onload = go_home

            document.addEventListener('keyup', (event) => {
                if (game_state == HOME) return
                if (event.code === "ArrowUp") {
                    clearTimeout(acceleration_timeout)
                    acceleration_timeout = 0
                    ship.set_coasting()
                }
                else if(event.code === "ArrowDown" && ship.slowdown_enabled) {
                    clearTimeout(slowdown_timeout)
                    slowdown_timeout = 0
                    ship.set_coasting()
                }
                else if (event.code === "ArrowLeft") {
                    clearTimeout(left_rotation_timeout)
                    left_rotation_timeout = 0
                }
                else if (event.code === "ArrowRight") {
                    clearTimeout(right_rotation_timeout)
                    right_rotation_timeout = 0
                }
            })

            document.addEventListener('keydown', (event) => {
                console.log(event.code)
                if (game_state == HOME) {
                    if (event.code === "Space") {
                        console.log('Starting game')
                        score = 0
                        reset_game()
                        lives = max_lives
                        unpause()
                    }
                    else if (event.code == "ArrowUp" || event.code == "ArrowDown") {
                        if (ship === ship_zach) ship = ship_zeke
                        else ship = ship_zach
                        go_home()
                    }
                    return
                }

                if (event.code === "Escape") go_home()
                else if (event.code === "KeyP") toggle_pause()

                if (game_state == PAUSED) return
                if (event.code === "ArrowUp" && acceleration_timeout == 0) acceleration(1)
                else if (event.code === "ArrowDown" && slowdown_timeout == 0 && ship.slowdown_enabled) slowdown(1)
                else if (event.code === "ArrowLeft" && left_rotation_timeout == 0) left_rotation(1)
                else if (event.code === "ArrowRight" && right_rotation_timeout == 0) right_rotation(1)
                else if (event.code === "Space") {
                    now = Date.now()
                    if ((now - last_bullet_time) > bullet_cooldown) {
                        create_bullet()
                        last_bullet_time = now
                    }
                }
            });
        })
    </script>
</head>
<body>
    <table>
    <tr>
        <td><canvas id="viewport" style="border:1px solid #000000;" width="1000" height="800">Your browser does not support Canvas.</canvas></td>
        <td style="vertical-align: top; padding-left: 15px; font-family: Arial;">
            <div id="id_new_high_score" hidden>
                <h1>Highest Score Today: <span id="id_high_score"></span></h1>
                <div style="font-size: 25px;">
                    <form action="{% url 'asteroid:save_high_score' %}" method="post">
                        {% csrf_token %}
                        <label for="id_name">Name:</label>
                        <input type="hidden" name="score" required="" id="id_score">
                        <input type="text" name="name" required="" id="id_name" style="height: 25px;">
                        <br>
                        <input type="submit" id="id_high_score_submit" value="Save" style="font-size: 25px; width: 100%;">
                    </form>
                </div>
            </div>
            <h1>Top 10 High Scores</h1>
            <table class="table" style="font-size: 25px;">
                <tbody>
                    {% for score in high_scores %}
                        <tr style="{{ score.style }}">
                            <td style="width: 100px;">{{ score.score }}</td><td style="width: 150px;">{{ score.name }}</td><td style="font-size: 20px;">{{ score.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr></table>
</body>
</html>
