<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function move_1dim(x, dx, max_x) {
            x += dx
            if (x < 0) return max_x - 1
            if (x >= max_x) return 0
            return x
        }
        class Vector {
            constructor(x, y) {
                this.x = x
                this.y = y
            }
            copy() { return new Vector(this.x, this.y) }
            angle() { return Math.atan2(this.y, this.x) }
            inverse() { return new Vector(-this.x, -this.y) }
            scale(coeff) {this.x *= coeff; this.y *= coeff; return this; }
            norm() { return Math.sqrt(this.x * this.x + this.y * this.y) }
            dot(other) { return this.x * other.x + this.y * other.y }
            add_in(other) {
                this.x += other.x
                this.y += other.y
                return this
            }
            angle_with(other) {
                return Math.acos(this.dot(other) / (this.norm() * other.norm()))
            }
            // Returns positive if other is a positive rotation from this
            signed_angle_with(other) {
                let cross_z = this.x * other.y - this.y * other.x
                if (cross_z < 0) return -this.angle_with(other)
                return this.angle_with(other)
            }
            projection_norm(other) {
                return this.dot(other) / other.norm()
            }
            static from_to(a, b) {
                return new Vector(b.x - a.x, b.y - a.y)
            }
            static direction(theta, norm = 1) {
                return new Vector(norm * Math.cos(theta), norm * Math.sin(theta))
            }
            static origin() {
                return new Vector(0, 0)
            }
        }
        class Sprite {
            constructor(image_key, width_on_viewport, viewport_height = undefined) {
                this.image_key = image_key
                let image = images[image_key]
                this.scale = width_on_viewport / image.width
                if (viewport_height) {
                    var scale_h = viewport_height / image.height
                    if (this.scale < scale_h) {
                        this.scale = scale_h
                    }
                }
                this.radius = Math.min(image.width, image.height) * this.scale / 2
                this.center = [0, 0]
            }
        }
        class Bullet {
            constructor(sprite, speed) {
                this.sprite = sprite
                this.speed = speed
            }
        }
        class Entity {
            constructor(sprite, x, y, r, dx, dy) {
                this.sprite = sprite
                this.x = x
                this.y = y
                this.r = r
                this.dx = dx
                this.dy = dy
                this.ttl = null
                this.approaching = false
            }
            motion_vector() {
                return new Vector(this.dx, this.dy)
            }
            position_vector() {
                return new Vector(this.x, this.y)
            }
            place_at(x, y, r = 0, dx = 0, dy = 0) {
                this.x = x
                this.y = y
                this.r = r
                this.dx = dx
                this.dy = dy
            }
            move_offscreen(speed) {
                var off_screen_distance = 200
                if (Math.random() < 0.5) {
                    this.x = Math.random() * viewport_width
                    if (Math.random() < 0.5) this.y = -off_screen_distance
                    else this.y = viewport_height + off_screen_distance

                } else {
                    this.y = Math.random() * viewport_height
                    if (Math.random() < 0.5) this.x = -off_screen_distance
                    else this.x = viewport_width + off_screen_distance
                }
                this.dx = -new_alien.x + viewport_width / 2 + Math.random() * viewport_width / 2 - viewport_width / 4
                this.dy = -new_alien.y + viewport_height / 2 + Math.random() * viewport_height / 2 - viewport_height / 4
                this.set_speed(speed)
                this.approaching = true
            }
            speed() {
                return Math.sqrt(this.dx * this.dx + this.dy * this.dy)
            }
            set_speed(desired_speed) {
                var current_speed = this.speed()
                if (current_speed < 0.1) {
                    var r = Math.random() * 2 * 3.1415
                    this.dx = desired_speed * Math.cos(r)
                    this.dy = desired_speed * Math.sin(r)
                    return
                }
                var coeff = desired_speed / current_speed
                this.dx *= coeff
                this.dy *= coeff
            }
            move() {
                if (this.approaching) {
                    this.x += this.dx
                    this.y += this.dy
                    if (this.x > mirror_image_threshold && this.x < viewport_width - mirror_image_threshold && this.y > mirror_image_threshold && this.y < viewport_height - mirror_image_threshold) this.approaching = false
                } else {
                    this.x = move_1dim(this.x, this.dx, viewport_width)
                    this.y = move_1dim(this.y, this.dy, viewport_height)
                }
                if (this.ttl) this.ttl -= 1
            }
            ticks_to_collision(other, min_ticks, max_ticks) {
                var future_this = new Entity(this.sprite, this.x, this.y, 0, this.dx, this.dy)
                var future_other = new Entity(other.sprite, other.x, other.y, 0, other.dx, other.dy)
                for (var t = 0; t < min_ticks; t++) {
                    future_this.move()
                    future_other.move()
                }
                for (var t = min_ticks; t < max_ticks; t++) {
                    if (collided(future_this, future_other)) {
                        return t
                    }
                    future_this.move()
                    future_other.move()
                }
                return false
            }
        }
        class Ship extends Entity {
            constructor(slowdown_enabled, rotation_rate, image_key_coasting, image_key_accelerating, image_key_breaking, width_on_viewport, bullet) {
                super(new Sprite(image_key_coasting, width_on_viewport), 0, 0, 0, 0, 0)
                this.slowdown_enabled = slowdown_enabled
                this.rotation_rate = rotation_rate
                this.image_key_coasting = image_key_coasting
                this.image_key_accelerating = image_key_accelerating
                this.image_key_breaking = image_key_breaking
                this.bullet = bullet
            }
            set_accelerating() {
                this.sprite.image_key = this.image_key_accelerating
            }
            set_coasting() {
                this.sprite.image_key = this.image_key_coasting
            }
            set_breaking() {
                if (this.image_key_breaking) this.sprite.image_key = this.image_key_breaking
                else this.sprite.image_key = this.image_key_coasting
            }
        }
        class Rock extends Entity {
            constructor(x, y) {
                super(rock_sprite, x, y, Math.random() * 360, 0, 0)
                this.dr = 2 * Math.random() - 1
            }
            move() {
                super.move()
                this.r += this.dr
            }
        }
        class AlienShip extends Entity {
            constructor(sprite) {
                super(sprite, 0, 0, 0, 0, 0)
                this.reset_time_to_shoot()
                this.dr = 0.5
            }
            reset_time_to_shoot() {
                this.time_to_shoot = Math.round(Math.random() * 50) + 50
            }
            maybe_create_child() {
                if (this.approaching) return
                if (this.time_to_shoot > 0) {
                    this.time_to_shoot -= 1
                    return
                }
                this.reset_time_to_shoot()
                this.create_child()
            }
            move() {
                super.move()
                this.r += this.dr
                if (Math.abs(this.r) > 10) {
                    this.dr *= -1
                }
            }
        }
        class SmallAlienShip extends AlienShip {
            constructor() {
                super(small_alien_ship_sprite)
            }
            create_child() {
                aliens.push(new Alien(this, ship, small_alien_sprite, 4))
            }
        }
        class SniperAlienShip extends AlienShip {
            constructor() {
                super(sniper_alien_ship_sprite)
                this.alien_speed = 6
            }
            create_child() {
                let target_motion = ship.motion_vector()
                let target_position = Vector.from_to(this, ship)
                let target_speed_away = target_motion.projection_norm(target_position)
                if (target_speed_away > this.alien_speed) return
                if (target_speed_away == 0) {
                    var alien_angle = target_position.angle()
                } else {
                    let signed_phi = target_position.inverse().signed_angle_with(target_motion)
                    let sin_theta = ship.speed() / this.alien_speed * Math.sin(Math.abs(signed_phi))
                    if (Math.abs(sin_theta) >= 1) return
                    let theta = Math.asin(sin_theta)
                    if (signed_phi > 0) var alien_angle = target_position.angle() - theta
                    else var alien_angle = target_position.angle() + theta
                }
                let alien_motion = Vector.direction(alien_angle).add_in(this)
                aliens.push(new Alien(this, alien_motion, sniper_alien_sprite, this.alien_speed))
            }
        }
        class LargeAlienShip extends AlienShip {
            constructor() {
                super(large_alien_ship_sprite)
                this.handled_bullets = []
            }
            maybe_create_child() {
                for (var i = 0; i < bullets.length; i++) {
                    var bullet_handled = false
                    for (var k = 0; k < this.handled_bullets.length; k++) {
                        if (this.handled_bullets[k] === bullets[i]) {
                            bullet_handled = true
                            break
                        }
                    }
                    if (bullet_handled) continue
                    var ticks_to_col = this.ticks_to_collision(bullets[i], 10, 30)
                    if (ticks_to_col) {
                        var future_bullet = new Entity(ship.bullet.sprite, bullets[i].x, bullets[i].y, 0, bullets[i].dx, bullets[i].dy)
                        for (var t = 0; t < ticks_to_col / 2; t++) future_bullet.move()
                        new_alien = new Alien(this, future_bullet, large_alien_sprite, bullets[i].speed())
                        aliens.push(new_alien)
                        this.handled_bullets.push(bullets[i])
                        break
                    }
                }
                super.maybe_create_child()
            }
            create_child() {}
        }
        class Alien extends Entity {
            constructor(parent, target, sprite, speed){
                super(sprite, parent.x, parent.y, 0, target.x - parent.x, target.y - parent.y)
                this.ttl = viewport_width / speed
                this.set_speed(speed)
            }
        }
        function wrapped_distance(a, b, width) {
            d = Math.abs(a - b)
            if (d > width / 2) return width - d
            return d
        }

        viewport_width = 1000
        viewport_height = 800
        HOME = 0; RUNNING = 1; PAUSED = 2;
        game_state = HOME
        acceleration_timeout = 0
        slowdown_timeout = 0
        left_rotation_timeout = 0
        right_rotation_timeout = 0
        game_step_interval = 0
        max_lives = 2
        lives = max_lives
        score = 0
        enemy_round = 0
        highest_score = 0
        mirror_image_threshold = 15
        draw_radii = false

        function draw_vector(vector, center, draw_arrow = true) {
            context.beginPath();
            context.lineWidth = 1
            context.strokeStyle = 'red'
            context.moveTo(center.x, center.y)
            context.lineTo(center.x + vector.x, center.y + vector.y)
            context.stroke()
            if (!draw_arrow) return
            vector_end = vector.copy().add_in(center)
            wing1 = Vector.direction(vector.angle() + 150 / 180 * 3.1415, 10)
            wing2 = Vector.direction(vector.angle() - 150 / 180 * 3.1415, 10)
            draw_vector(wing1, vector_end, false)
            draw_vector(wing2, vector_end, false)
        }
        function draw_sprite(sprite, entity, draw_mirror_entities = 1) {
            image = images[sprite.image_key]
            if (image === undefined) {
                console.log('Undefined image', sprite.image_key)
                return
            }
            context.save()
            context.scale(sprite.scale, sprite.scale)
            context.translate(entity.x / sprite.scale, entity.y / sprite.scale)
            context.rotate(entity.r * 3.1415 / 180)
            context.translate(-image.width / 2 - sprite.center[0] / sprite.scale, -image.height / 2 - sprite.center[1] / sprite.scale)
            context.drawImage(image, 0, 0);
            context.restore()

            if (draw_radii) {
                context.beginPath();
                context.strokeStyle = 'red'
                context.arc(entity.x, entity.y, sprite.radius, 0, 2 * Math.PI);
                context.stroke();
            }

            if (draw_mirror_entities === 1 && !entity.approaching) {
                mirror_entity = new Entity(sprite, entity.x, entity.y, entity.r, 0, 0)
                if (entity.x < mirror_image_threshold) {
                    mirror_entity.x += viewport_width
                    draw_sprite(sprite, mirror_entity, 0)
                    mirror_entity.x = entity.x
                }
                else if(entity.x >= viewport_width - mirror_image_threshold) {
                    mirror_entity.x -= viewport_width
                    draw_sprite(sprite, mirror_entity, 0)
                    mirror_entity.x = entity.x
                }
                if (entity.y < mirror_image_threshold) {
                    mirror_entity.y += viewport_height
                    draw_sprite(sprite, mirror_entity, 0)
                    mirror_entity.y = entity.y
                }
                else if(entity.y >= viewport_height - mirror_image_threshold) {
                    mirror_entity.y -= viewport_height
                    draw_sprite(sprite, mirror_entity, 0)
                    mirror_entity.y = entity.y
                }
            }

        }
        function draw_score() {
            context.save()
            context.font = "20px Arial";
            context.fillStyle = "red";
            context.fillText(score, 3, 20);
            if (lives > 0) context.fillText('A'.repeat(lives), viewport_width - 30, 20);
            context.restore()
        }
        function clear_viewport() {
            draw_sprite(background_sprite, background)
        }
        function compute_wrapped_distance(entity1, entity2) {
            dx = wrapped_distance(entity1.x, entity2.x, viewport_width)
            dy = wrapped_distance(entity1.y, entity2.y, viewport_height)
            return Math.sqrt(dx * dx + dy * dy)
        }
        function collided(entity1, entity2) {
            return compute_wrapped_distance(entity1, entity2) <= entity1.sprite.radius + entity2.sprite.radius
        }
        function game_step() {
            if (game_state != RUNNING) return
            // Move
            for (i = 0; i < rocks.length; i++) rocks[i].move()
            for (i = 0; i < alien_ships.length; i++) alien_ships[i].move()
            for (i = 0; i < aliens.length; i++) aliens[i].move()
            for (i = 0; i < bullets.length; i++) bullets[i].move()
            if (bullets.length > 0 && bullets[0].ttl <= 0) bullets.shift()
            if (aliens.length > 0 && aliens[0].ttl <= 0) aliens.shift()
            ship.move()

            // Handle collisions
            for (i = 0; i < rocks.length; i++) {
                if (collided(rocks[i], ship)) {
                    console.log('Ship collided with rock')
                    handle_death()
                    break
                }
                for (j = 0; j < bullets.length; j++) {
                    if (collided(rocks[i], bullets[j])) {
                        console.log('Bullet collided with rock')
                        score += 1 + 4 * Math.round(ship.speed())
                        rocks.splice(i, 1)
                        bullets.splice(j, 1)
                        i -= 1
                        break
                    }
                }
            }
            for (i = 0; i < alien_ships.length; i++) {
                if (alien_ships[i].approaching) continue
                if (collided(alien_ships[i], ship)) {
                    console.log('Ship collided with alien ship')
                    handle_death()
                    break
                }
                for (j = 0; j < bullets.length; j++) {
                    if (collided(alien_ships[i], bullets[j])) {
                        console.log('Bullet collided with alien ship')
                        score += 5 + 4 * Math.round(ship.speed())
                        alien_ships.splice(i, 1)
                        bullets.splice(j, 1)
                        i -= 1
                        break
                    }
                }
            }
            for (i = 0; i < aliens.length; i++) {
                if (collided(aliens[i], ship)) {
                    console.log('Ship collided with alien')
                    handle_death()
                    break
                }
                for (j = 0; j < bullets.length; j++) {
                    if (collided(aliens[i], bullets[j])) {
                        console.log('Bullet collided with alien')
                        score += 1 + 4 * Math.round(ship.speed())
                        aliens.splice(i, 1)
                        bullets.splice(j, 1)
                        i -= 1
                        break
                    }
                }
            }

            // Create new enemies
            if (rocks.length == 0 && alien_ships.length == 0) {
                rock_count = 3
                small_alien_count = 0
                if (enemy_round >= 1) rock_count += 2
                if (enemy_round >= 2) rock_count += 2
                if (enemy_round >= 3) small_alien_count += 1
                if (enemy_round >= 4) rock_count += 2
                if (enemy_round >= 5) rock_count += 2
                if (enemy_round >= 6) small_alien_count += 1
                for (i = 0; i < rock_count; i++) create_rock()
                for (i = 0; i < small_alien_count; i++) create_small_alien_ship()
                enemy_round += 1
            }
            for (i = 0; i < alien_ships.length; i++) alien_ships[i].maybe_create_child()

            // Draw
            clear_viewport()
            for (i = 0; i < rocks.length; i++) draw_sprite(rocks[i].sprite, rocks[i])
            for (i = 0; i < alien_ships.length; i++) draw_sprite(alien_ships[i].sprite, alien_ships[i])
            for (i = 0; i < aliens.length; i++) draw_sprite(aliens[i].sprite, aliens[i])
            for (i = 0; i < bullets.length; i++) draw_sprite(bullets[i].sprite, bullets[i])
            draw_sprite(ship.sprite, ship)
            draw_score()
        }
        function pause() {
            game_state = PAUSED
            clearTimeout(game_step_interval)
        }
        function unpause() {
            game_state = RUNNING
            game_step_interval = setInterval(game_step, 33)
        }
        function toggle_pause() {
            if (game_state == PAUSED) unpause()
            else pause()
        }
        function create_bullet() {
            dx = ship.bullet.speed * Math.cos(ship.r / 180 * 3.1415)
            dy = ship.bullet.speed * Math.sin(ship.r / 180 * 3.1415)
            x = ship.x + 25 * Math.cos(ship.r / 180 * 3.1415)
            y = ship.y + 25 * Math.sin(ship.r / 180 * 3.1415)
            time_to_live = viewport_height / ship.bullet.speed
            new_bullet = new Entity(ship.bullet.sprite, x, y, ship.r, dx, dy)
            new_bullet.ttl = time_to_live
            bullets.push(new_bullet)
        }
        function create_rock() {
            attempt_count = 0
            while (attempt_count < 20) {
                attempt_count += 1
                new_rock = new Rock(Math.random() * viewport_width, Math.random() * viewport_width)
                if (compute_wrapped_distance(new_rock, ship) > 150) break
            }
            new_rock.set_speed(2)
            rocks.push(new_rock)
        }
        function create_small_alien_ship() {
            new_alien = new SmallAlienShip()
            new_alien.move_offscreen(2)
            alien_ships.push(new_alien)
        }
        function create_large_alien_ship() {
            new_alien = new LargeAlienShip()
            new_alien.move_offscreen(4)
            alien_ships.push(new_alien)
        }
        function create_sniper_alien_ship() {
            new_alien = new SniperAlienShip()
            new_alien.move_offscreen(2)
            alien_ships.push(new_alien)
        }
        function reset_ship() {
            ship.place_at(viewport_width / 2, viewport_height / 2, -90)
            bullets = []
            last_bullet_time = Date.now()
            bullet_cooldown = 200
            rocks = []
            alien_ships = []
            aliens = []
        }
        function reset_game() {
            reset_ship()
            score = 0
            lives = max_lives
            enemy_round = 0
        }
        function go_home() {
            clearTimeout(game_step_interval)
            game_state = HOME

            clear_viewport()
            context.save()
            context.font = "30px Arial";
            context.fillStyle = "white";
            context.fillText("Zeke and Zach", 100, 100);
            context.fillText("Asteroid Game", 100, 130);
            context.font = "20px Arial";
            context.fillText("Press space to play", 100, 200);
            context.font = "30px Arial";
            if (score > 0) context.fillText("You scored " + score + " !", 100, 270);
            ship_zeke.place_at(170, 400, 0)
            ship_zach.place_at(170, 550, 0)
            draw_sprite(ship_zeke.sprite, ship_zeke)
            draw_sprite(ship_zach.sprite, ship_zach)
            context.font = "20px Arial";
            context.fillText("Zeke's ship", 250, 390);
            context.fillText("Zach's ship", 250, 540);
            context.fillText("Rotation Boost makes ship turn faster.", 250, 420);
            context.fillText("Gravity Breaks slow down ship.", 250, 570);
            context.lineWidth = "6";
            context.strokeStyle = "red";
            context.beginPath();
            if (ship === ship_zeke) {
                context.rect(100, 350, 530, 100)
            } else {
                context.rect(100, 500, 530, 100)

            }
            context.stroke()
            context.restore()

            if (score > highest_score) highest_score = score
            if (highest_score != 0) {
                $("#id_new_high_score").removeAttr("hidden")
                $("#id_high_score").html(highest_score)
                $("#id_score").attr("value", highest_score)
            }
        }
        function handle_death() {
            lives -= 1
            console.log('Lives', lives)
            if (lives < 0) {
                pause()
                setTimeout(go_home, 500)
                return
            }
            enemy_round -= 1 // Repeat last round
            reset_ship()
        }
        function acceleration(bootstrap = 0) {
            if (bootstrap == 1 && acceleration_timeout != 0) return
            ship.set_accelerating()
            ship.dx += 2 * Math.cos(ship.r / 180 * 3.1415)
            ship.dy += 2 * Math.sin(ship.r / 180 * 3.1415)
            max_speed = 10
            if (ship.speed() > max_speed) {
                ship.set_speed(max_speed)
            }
            acceleration_timeout = setTimeout(acceleration, 200)
        }
        function slowdown(bootstrap = 0) {
            if (bootstrap == 1 && slowdown_timeout != 0) return
            ship.set_breaking()
            ship.dx *= 0.6
            ship.dy *= 0.6
            if (ship.speed() < 0.5) {
                ship.dx = 0
                ship.dy = 0
            }
            slowdown_timeout = setTimeout(slowdown, 200)
        }
        function left_rotation(bootstrap = 0) {
            if (bootstrap == 1 && left_rotation_timeout != 0) return
            ship.r -= ship.rotation_rate
            left_rotation_timeout = setTimeout(left_rotation, 25)
        }
        function right_rotation(bootstrap = 0) {
            if (bootstrap == 1 && right_rotation_timeout != 0) return
            ship.r += ship.rotation_rate
            right_rotation_timeout = setTimeout(right_rotation, 25)
        }
        function image_loaded() {
            loaded_image_count += 1
            if (loaded_image_count == Object.keys(image_sources).length) {
                saw_sprite = new Sprite('saw', 40)
                saw_sprite.radius = 20
                lightning_sprite = new Sprite('lightning', 40)
                lightning_sprite.radius = 20
                bullet_saw = new Bullet(saw_sprite, 10)
                bullet_lightning = new Bullet(lightning_sprite, 10)

                background_sprite = new Sprite('background_space', viewport_width, viewport_height)
                rock_sprite = new Sprite('rock', 40)
                small_alien_ship_sprite = new Sprite('small_alien_ship', 100)
                small_alien_sprite = new Sprite('small_alien', 30)
                sniper_alien_ship_sprite = new Sprite('large_alien_ship', 100)
                sniper_alien_sprite = new Sprite('large_alien', 30)
                ship_zeke = new Ship(0, 6, 'ship1', 'ship1_flame', 0, 120, bullet_saw)
                ship_zach = new Ship(1, 4, 'ship2', 'ship2_flame', 'ship2_break', 150, bullet_lightning)
                ship_zeke.sprite.center[0] = 20
                ship_zach.sprite.center[0] = 15
                ship_zeke.sprite.radius = 35
                ship_zach.sprite.radius = 35
                ship = ship_zeke

                background = new Entity(background_sprite, viewport_width / 2, viewport_height / 2, 0, 0, 0)

                go_home()
            }
        }
        $(function() {
            var canvas = document.getElementById('viewport')
            context = canvas.getContext('2d')

            image_sources = {}
            image_sources['ship1'] = "{% static 'asteroid/ship1.gif' %}"
            image_sources['ship1_flame'] = "{% static 'asteroid/ship1_flame.gif' %}"
            image_sources['ship2'] = "{% static 'asteroid/ship2.gif' %}"
            image_sources['ship2_flame'] = "{% static 'asteroid/ship2_flame.gif' %}"
            image_sources['ship2_break'] = "{% static 'asteroid/ship2_break.gif' %}"
            image_sources['rock'] = "{% static 'asteroid/rock.png' %}"
            image_sources['saw'] = "{% static 'asteroid/saw.gif' %}"
            image_sources['lightning'] = "{% static 'asteroid/lightning.gif' %}"
            image_sources['background_space'] = "{% static 'asteroid/background_space.jpg' %}"
            image_sources['small_alien_ship'] = "{% static 'asteroid/small_alien_ship.gif' %}"
            image_sources['small_alien'] = "{% static 'asteroid/small_alien.gif' %}"
            image_sources['large_alien_ship'] = "{% static 'asteroid/large_alien_ship.gif' %}"
            image_sources['large_alien'] = "{% static 'asteroid/large_alien.gif' %}"

            images = {}
            loaded_image_count = 0
            for (key in image_sources) {
                images[key] = new Image()
                images[key].onload = image_loaded
                images[key].src = image_sources[key]
            }

            document.addEventListener('keyup', (event) => {
                if (event.code === "KeyR") {
                    draw_radii = false
                }
                if (game_state == HOME) return
                if (event.code === "ArrowUp") {
                    clearTimeout(acceleration_timeout)
                    acceleration_timeout = 0
                    ship.set_coasting()
                }
                else if(event.code === "ArrowDown" && ship.slowdown_enabled) {
                    clearTimeout(slowdown_timeout)
                    slowdown_timeout = 0
                    ship.set_coasting()
                }
                else if (event.code === "ArrowLeft") {
                    clearTimeout(left_rotation_timeout)
                    left_rotation_timeout = 0
                }
                else if (event.code === "ArrowRight") {
                    clearTimeout(right_rotation_timeout)
                    right_rotation_timeout = 0
                }
            })

            document.addEventListener('keydown', (event) => {
                if (event.code === "KeyR") {
                    draw_radii = true
                }
                if (game_state == HOME) {
                    if (event.code === "Space") {
                        console.log('Starting game')
                        reset_game()
                        unpause()
                    }
                    else if (event.code == "ArrowUp" || event.code == "ArrowDown") {
                        if (ship === ship_zach) ship = ship_zeke
                        else ship = ship_zach
                        go_home()
                    }
                    return
                }

                if (event.code === "Escape") go_home()
                else if (event.code === "KeyP") toggle_pause()

                if (game_state == PAUSED) return
                if (event.code === "ArrowUp" && acceleration_timeout == 0) acceleration(1)
                else if (event.code === "ArrowDown" && slowdown_timeout == 0 && ship.slowdown_enabled) slowdown(1)
                else if (event.code === "ArrowLeft" && left_rotation_timeout == 0) left_rotation(1)
                else if (event.code === "ArrowRight" && right_rotation_timeout == 0) right_rotation(1)
                else if (event.code === "Space") {
                    now = Date.now()
                    if ((now - last_bullet_time) > bullet_cooldown) {
                        create_bullet()
                        last_bullet_time = now
                    }
                }
            });
        })
    </script>
</head>
<body>
    <table>
    <tr>
        <td><canvas id="viewport" style="border:1px solid #000000;" width="1000" height="800">Your browser does not support Canvas.</canvas></td>
        <td style="vertical-align: top; padding-left: 15px; font-family: Arial;">
            <div id="id_new_high_score" hidden>
                <h1>Highest Score Today: <span id="id_high_score"></span></h1>
                <div style="font-size: 25px;">
                    <form action="{% url 'asteroid:save_high_score' %}" method="post">
                        {% csrf_token %}
                        <label for="id_name">Name:</label>
                        <input type="hidden" name="score" required="" id="id_score">
                        <input type="text" name="name" required="" id="id_name" style="height: 25px;">
                        <br>
                        <input type="submit" id="id_high_score_submit" value="Save" style="font-size: 25px; width: 100%;">
                    </form>
                </div>
            </div>
            <h1>Top 10 High Scores</h1>
            <table class="table" style="font-size: 25px;">
                <tbody>
                    {% for score in high_scores %}
                        <tr style="{{ score.style }}">
                            <td style="width: 100px;">{{ score.score }}</td><td style="width: 150px;">{{ score.name }}</td><td style="font-size: 20px;">{{ score.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr></table>
</body>
</html>
