<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        class Bullet {
            constructor(image_key, scale, speed) {
                this.image_key = image_key
                this.scale = scale
                this.speed = speed
            }
        }
        class Entity {
            constructor(x, y, r, dx, dy) {
                this.x = x
                this.y = y
                this.r = r
                this.dx = dx
                this.dy = dy
                this.ttl = null
            }
            speed() {
                return Math.sqrt(this.dx * this.dx + this.dy * this.dy)
            }
        }

        viewport_width = 1000
        viewport_height = 800
        HOME = 0; RUNNING = 1; PAUSED = 2;
        game_state = HOME
        forward_acceleration_timeout = 0
        left_rotation_timeout = 0
        right_rotation_timeout = 0
        game_step_interval = 0
        max_lives = 2
        lives = max_lives
        score = 0
        rock_count = 5
        highest_score = 0

        images = {}
        bullet_laser = new Bullet('laser', 0.05, 20)
        bullet_saw = new Bullet('saw', 0.15, 10)
        bullet_lightning = new Bullet('lightning', 0.1, 10)

        active_bullet = bullet_lightning
        background_image_key = 'background_pickaxe'
        rock_image_key = 'rock'
        ship_image_key_coasting = 'ship2'
        ship_image_key_accelerating = 'ship2_flame'
        ship_image_key = ship_image_key_coasting

        background = new Entity(viewport_width / 2, viewport_height / 2, 0, 0, 0)

        function draw_image(image_key, entity, scale) {
            image = images[image_key]
            if (image === undefined) {
                console.log('Undefined image', image_key)
                return
            }
            context.save()
            context.scale(scale, scale)
            context.translate(entity.x / scale, entity.y / scale)
            context.rotate(entity.r * 3.1415 / 180)
            context.translate(-images[image_key].width / 2, -images[image_key].height / 2)
            context.drawImage(images[image_key], 0, 0);
            context.restore()
        }
        function draw_score() {
            context.save()
            context.font = "20px Arial";
            context.fillStyle = "red";
            context.fillText(score, 3, 20);
            if (lives > 0) context.fillText('A'.repeat(lives), viewport_width - 30, 20);
            context.restore()
        }
        function clear_viewport() {
            draw_image(background_image_key, background, 2)
        }
        function move(x, dx, max_x) {
            x += dx
            if (x < 0) return max_x - 1
            if (x >= max_x) return 0
            return x
        }
        function move_entity(entity) {
            entity.x = move(entity.x, entity.dx, viewport_width)
            entity.y = move(entity.y, entity.dy, viewport_height)
            if (entity.ttl !== null) {
                entity.ttl -= 1
            }
            return entity
        }
        function compute_distance(entity1, entity2) {
            dx = entity1.x - entity2.x
            dy = entity1.y - entity2.y
            return Math.sqrt(dx * dx + dy * dy)
        }
        function collided(entity1, entity2) {
            return compute_distance(entity1, entity2) <= 20
        }
        function game_step() {
            if (game_state != RUNNING) return
            // Move
            for (i = 0; i < rocks.length; i++) rocks[i] = move_entity(rocks[i])
            for (i = 0; i < bullets.length; i++) bullets[i] = move_entity(bullets[i])
            if (bullets.length > 0 && bullets[0].ttl <= 0) bullets.shift()
            move_entity(ship)

            // Handle collisions
            for (i = 0; i < rocks.length; i++) {
                if (collided(rocks[i], ship)) {
                    console.log('Ship collided with rock')
                    handle_death()
                    break
                }
                for (j = 0; j < bullets.length; j++) {
                    if (collided(rocks[i], bullets[j])) {
                        console.log('Bullet collided with rock')
                        score += 10 + Math.round(ship.speed())
                        if (left_rotation_timeout != 0 || right_rotation_timeout != 0) score += 10
                        rocks.splice(i, 1)
                        bullets.splice(j, 1)
                        i -= 1
                        break
                    }
                }
            }
            if (rocks.length == 0) {    
                for (i = 0; i < rock_count; i++) create_rock()
                rock_count += 3
            }

            // Draw
            clear_viewport()
            for (i = 0; i < rocks.length; i++) draw_image(rock_image_key, rocks[i], 0.05)
            for (i = 0; i < bullets.length; i++) draw_image(active_bullet.image_key, bullets[i], active_bullet.scale)
            draw_image(ship_image_key, ship, 0.15)
            draw_score()
        }
        function pause() {
            game_state = PAUSED
            clearTimeout(game_step_interval)
        }
        function unpause() {
            game_state = RUNNING
            game_step_interval = setInterval(game_step, 33)
        }
        function toggle_pause() {
            if (game_state == PAUSED) unpause()
            else pause()
        }
        function create_bullet() {
            dx = active_bullet.speed * Math.cos(ship.r / 180 * 3.1415)
            dy = active_bullet.speed * Math.sin(ship.r / 180 * 3.1415)
            x = ship.x + 25 * Math.cos(ship.r / 180 * 3.1415)
            y = ship.y + 25 * Math.sin(ship.r / 180 * 3.1415)
            time_to_live = (viewport_height - 25) / active_bullet.speed
            new_bullet = new Entity(x, y, ship.r, dx, dy)
            new_bullet.ttl = time_to_live
            bullets.push(new_bullet)
        }
        function create_rock() {
            rock_ok = false
            while (!rock_ok) {
                speed = 2
                r = Math.random() * 2 * 3.1415
                dx = speed * Math.cos(r)
                dy = speed * Math.sin(r)
                x = Math.random() * viewport_width
                y = Math.random() * viewport_width
                new_rock = new Entity(x, y, 0, dx, dy)
                if (compute_distance(new_rock, ship) > 50) rock_ok = true
            }
            rocks.push(new_rock)
        }
        function reset_game() {
            ship = new Entity(viewport_width / 2, viewport_height / 2, -90, 0, 0)
            bullets = []
            last_bullet_time = Date.now()
            bullet_cooldown = 200
            rocks = []
            for (i = 0; i < rock_count; i++) create_rock()
        }
        function go_home() {
            clearTimeout(game_step_interval)
            clear_viewport()
            context.save()
            context.font = "30px Arial";
            context.fillStyle = "white";
            context.fillText("Zeke and Zach", 100, 100);
            context.fillText("Asteroid Game", 100, 130);
            context.font = "20px Arial";
            context.fillText("Press space to play", 100, 200);
            if (score > 0) context.fillText("Your score was " + score + " !", 100, 250);
            if (score > highest_score) highest_score = score
            if (highest_score != 0) {
                $("#id_new_high_score").removeAttr("hidden")
                $("#id_high_score").html(highest_score)
                $("#id_score").attr("value", highest_score)
            }
            context.restore()
            game_state = HOME
            rock_count = 5
        }
        function handle_death() {
            lives -= 1
            console.log('Lives', lives)
            if (lives < 0) {
                pause()
                setTimeout(go_home, 500)
                return
            }
            reset_game()
        }
        function forward_acceleration() {
            ship_image_key = ship_image_key_accelerating
            old_dx = ship.dx
            old_dy = ship.dy
            ship.dx += 2 * Math.cos(ship.r / 180 * 3.1415)
            ship.dy += 2 * Math.sin(ship.r / 180 * 3.1415)
            max_speed = 10
            if (ship.speed() > max_speed) {
                ship.dx = old_dx
                ship.dy = old_dy
            } else {
                forward_acceleration_timeout = setTimeout(forward_acceleration, 200)
            }
        }
        function left_rotation() {
            ship.r -= 5
            left_rotation_timeout = setTimeout(left_rotation, 25)
        }
        function right_rotation() {
            ship.r += 5
            right_rotation_timeout = setTimeout(right_rotation, 25)
        }
        $(function() {
            var canvas = document.getElementById('viewport')
            context = canvas.getContext('2d')

            images['arrow'] = new Image()
            images['arrow'].src = "{% static 'asteroid/arrow.png' %}"
            images['ship1'] = new Image()
            images['ship1'].src = "{% static 'asteroid/ship1.gif' %}"
            images['ship1_flame'] = new Image()
            images['ship1_flame'].src = "{% static 'asteroid/ship1_flame.gif' %}"
            images['ship2'] = new Image()
            images['ship2'].src = "{% static 'asteroid/ship2.gif' %}"
            images['ship2_flame'] = new Image()
            images['ship2_flame'].src = "{% static 'asteroid/ship2_flame.gif' %}"
            images['rock'] = new Image()
            images['rock'].src = "{% static 'asteroid/rock.png' %}"
            images['laser'] = new Image()
            images['laser'].src = "{% static 'asteroid/laser.gif' %}"
            images['saw'] = new Image()
            images['saw'].src = "{% static 'asteroid/saw.gif' %}"
            images['lightning'] = new Image()
            images['lightning'].src = "{% static 'asteroid/lightning.gif' %}"
            images['background_pickaxe'] = new Image()
            images['background_pickaxe'].src = "{% static 'asteroid/background-pickaxe.jpg' %}"
            images['background_pickaxe'].onload = go_home

            document.addEventListener('keyup', (event) => {
                if (event.code === "ArrowUp") {
                    clearTimeout(forward_acceleration_timeout)
                    ship_image_key = ship_image_key_coasting
                    forward_acceleration_timeout = 0
                }
                else if (event.code === "ArrowLeft") {
                    clearTimeout(left_rotation_timeout)
                    left_rotation_timeout = 0
                }
                else if (event.code === "ArrowRight") {
                    clearTimeout(right_rotation_timeout)
                    right_rotation_timeout = 0
                }
            })

            document.addEventListener('keydown', (event) => {
                console.log(event.code)
                if (game_state == HOME) {
                    if (event.code === "Space") {
                        console.log('Starting game')
                        score = 0
                        reset_game()
                        lives = max_lives
                        unpause()
                    }
                    return
                }

                if (event.code === "Escape") go_home()
                else if (event.code === "KeyP") toggle_pause()

                if (game_state == PAUSED) return
                if (event.code === "ArrowUp" && forward_acceleration_timeout == 0) forward_acceleration()
                else if (event.code === "ArrowLeft" && left_rotation_timeout == 0) left_rotation()
                else if (event.code === "ArrowRight" && right_rotation_timeout == 0) right_rotation()
                else if (event.code === "Space") {
                    now = Date.now()
                    if ((now - last_bullet_time) > bullet_cooldown) {
                        create_bullet()
                        last_bullet_time = now
                    }
                }
            });
        })
    </script>
</head>
<body>
    <table>
    <tr>
        <td><canvas id="viewport" style="border:1px solid #000000;" width="1000" height="800">Your browser does not support Canvas.</canvas></td>
        <td style="vertical-align: top; padding-left: 15px;">
            <div id="id_new_high_score" hidden>
                <h1>Highest Score Today: <span id="id_high_score"></span></h1>
                <div style="font-size: 25px;">
                    <form action="{% url 'asteroid:save_high_score' %}" method="post">
                        {% csrf_token %}
                        <label for="id_name">Name:</label>
                        <input type="hidden" name="score" required="" id="id_score">
                        <input type="text" name="name" required="" id="id_name" style="height: 25px;">
                        <br>
                        <input type="submit" id="id_high_score_submit" value="Save" style="font-size: 25px; width: 100%;">
                    </form>
                </div>
            </div>
            <h1>Top 10 High Scores</h1>
            <table class="table" style="font-size: 25px;">
                <tbody>
                    {% for score in high_scores %}
                        <tr style="{{ score.style }}">
                            <td style="width: 100px;">{{ score.score }}</td><td style="width: 150px;">{{ score.name }}</td><td style="font-size: 20px;">{{ score.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr></table>
</body>
</html>
